<div class="column-layout group">
  <div class="row-layout group_1">
    <div class="row-layout group_2">
      <igx-icon class="icon">
        assignment
      </igx-icon>
      <h6 class="h6">
        To do
      </h6>
    </div>
    <igx-avatar initials="3" [roundShape]="true" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Create brand guidelines</span>
      <span igxListLineSubTitle>Deadline: Nov 19, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>App Preview</span>
      <span igxListLineSubTitle>Deadline: Nov 24, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar9.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Cloud Integration</span>
      <span igxListLineSubTitle>Deadline: Nov 28, 2021</span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group">
  <div class="row-layout group_3">
    <div class="row-layout group_2">
      <igx-icon class="icon">
        developer_board
      </igx-icon>
      <h6 class="h6">
        In Development
      </h6>
    </div>
    <igx-avatar initials="5" [roundShape]="true" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Connect to DataSources</span>
      <span igxListLineSubTitle>Deadline: Oct 28, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar3.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Build App</span>
      <span igxListLineSubTitle>Deadline: Oct 28, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar5.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Copy-Paste Update</span>
      <span igxListLineSubTitle>Deadline: Oct 24, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Grid Data-Binding </span>
      <span igxListLineSubTitle>Deadline: Oct 26, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar10.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Main Dashboard Design</span>
      <span igxListLineSubTitle>Deadline: Oct 20, 2021</span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group">
  <div class="row-layout group_4">
    <div class="row-layout group_2">
      <igx-icon class="icon">
        assignment_late
      </igx-icon>
      <h6 class="h6">
        Validation
      </h6>
    </div>
    <igx-avatar initials="4" [roundShape]="true" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar7.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Update Samples</span>
      <span igxListLineSubTitle>Deadline: Oct 15, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Floating Toolbar</span>
      <span igxListLineSubTitle>Deadline: Oct 14, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar9.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Input Update</span>
      <span igxListLineSubTitle>Deadline: Oct 17, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar3.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>App Library</span>
      <span igxListLineSubTitle>Deadline: Oct 16, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group">
  <div class="row-layout group_5">
    <div class="row-layout group_2">
      <igx-icon class="icon">
        check_circle
      </igx-icon>
      <h6 class="h6">
        Done
      </h6>
    </div>
    <igx-avatar initials="5" [roundShape]="true" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar8.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Onboarding Experience</span>
      <span igxListLineSubTitle>October 13, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Design Specs</span>
      <span igxListLineSubTitle>October 9, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar10.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>File Parser</span>
      <span igxListLineSubTitle>October 10, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Final Mockups</span>
      <span igxListLineSubTitle>Deadline: Oct 14, 2021</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar5.png" [roundShape]="true" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>GitHub Integration</span>
      <span igxListLineSubTitle>September 30, 2021</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          attach_file
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #newTaskDialog3>
  <igx-dialog-title>
    <h5>
      Add New Task
    </h5>
  </igx-dialog-title>
  <ng-container>
    <div class="column-layout group_6">
      <igx-input-group type="box" class="input">
        <input type="text" igxInput />
        <label igxLabel>Task Title</label>
      </igx-input-group>
      <div class="row-layout group_7">
        <igx-select type="box" placeholder="Pick a project" class="select">
          <igx-prefix>
            <igx-icon class="icon_2">
              assignment
            </igx-icon>
          </igx-prefix>
          <igx-select-item value="Option">
            Fintech Project
          </igx-select-item>
          <igx-select-item value="Option">
            DataViz Project
          </igx-select-item>
          <igx-select-item value="Option">
            Onboarding Project
          </igx-select-item>
          <igx-select-item value="Option">
            AppBuilder Project
          </igx-select-item>
          <label igxLabel>Project</label>
        </igx-select>
        <igx-select type="box" placeholder="Set Status" class="select_1">
          <igx-prefix>
            <igx-icon class="icon_2">
              schedule
            </igx-icon>
          </igx-prefix>
          <igx-select-item value="Option">
            To Do
          </igx-select-item>
          <igx-select-item value="Option">
            In Development
          </igx-select-item>
          <igx-select-item value="Option">
            Validation
          </igx-select-item>
          <igx-select-item value="Option">
            Done
          </igx-select-item>
          <label igxLabel>Status</label>
        </igx-select>
      </div>
    </div>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="raised" igxRipple [igxToggleAction]="newTaskDialog3" class="button">
      Create Task
    </button>
  </igx-dialog-actions>
</igx-dialog>
<button igxButton="fab" igxRipple [igxToggleAction]="newTaskDialog3" class="button_1">
  <igx-icon>
    add
  </igx-icon>
</button>
