:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  overflow: hidden;
}
.app-bar {
  --igx-navbar-background: #3F51B5;
  --igx-navbar-text-color: white;
  height: max-content;
  min-width: min-content;
}
.navbar {
  --igx-navbar-background: hsla(var(--ig-gray-600));
  z-index: 1;
  left: 12px;
  top: 225.21905808221717px;
  position: fixed;
  width: 1077px;
  height: max-content;
  min-width: min-content;
}
.navbar_1 {
  --igx-navbar-background: hsla(var(--ig-gray-600));
  z-index: 1;
  left: 12px;
  top: 449.980962844124px;
  position: fixed;
  width: 1077px;
  height: max-content;
  min-width: min-content;
}
.navbar_2 {
  --igx-navbar-background: hsla(var(--ig-gray-600));
  z-index: 1;
  left: 12px;
  top: 528.0762009393629px;
  position: fixed;
  width: 1077px;
  height: max-content;
  min-width: min-content;
}
.navbar_3 {
  --igx-navbar-background: hsla(var(--ig-gray-600));
  z-index: 1;
  left: 12px;
  top: 606.1714390346019px;
  position: fixed;
  width: 1077px;
  height: max-content;
  min-width: min-content;
}
.navbar_4 {
  --igx-navbar-background: hsla(var(--ig-gray-600));
  z-index: 1;
  left: 13.523786272321429px;
  top: 299.8856898716517px;
  position: fixed;
  width: 1077px;
  height: max-content;
  min-width: min-content;
}
.navbar_5 {
  --igx-navbar-background: hsla(var(--ig-gray-600));
  z-index: 1;
  left: 13.523786272321429px;
  top: 374.17140415736685px;
  position: fixed;
  width: 1077px;
  height: max-content;
  min-width: min-content;
}
.textarea {
  z-index: 1;
  left: 10px;
  top: 694.3428257533476px;
  position: fixed;
  width: 1075px;
  height: max-content;
  min-width: min-content;
}
.button {
  color: white;
}
.dropdown {
  left: 0;
  top: 0;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.button-group {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_1 {
  z-index: 1;
  left: 97.60003952752989px;
  top: 811.6761997767857px;
  position: fixed;
}
.avatar {
  color: rgba(256, 256, 256, 0.8);
  background-color: #FE7659;
  --background: none;
  --ig-gray-400: transparent;
  margin: 0 8px 0 0;
}
.h6 {
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
}
.h3 {
  z-index: 1;
  left: 12.90476190476199px;
  top: 144.24763997395831px;
  position: fixed;
  width: 596px;
  height: max-content;
  min-width: min-content;
}
.image {
  object-fit: cover;
  z-index: 1;
  left: 1132.9524274553569px;
  top: 676.2381766183036px;
  position: fixed;
  width: 127px;
  height: 123px;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  background-image: url("/assets/BG.png");
  z-index: 1;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: hidden;
  position: sticky;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.group_2 {
  background-color: hsla(var(--ig-surface-500));
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 80px;
}
.group_3 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
