<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <div class="row-layout group_3">
        <igx-icon class="icon">
          assignment
        </igx-icon>
        <h6 class="h6">
          To do
        </h6>
      </div>
      <igx-avatar initials="3" [roundShape]="true" class="avatar"></igx-avatar>
    </div>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Create brand guidelines
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Nov 19, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/BrandGuidelines.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          App Preview
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Nov 24, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/AppPreview.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar9.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Cloud Integration
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Nov 28, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_4">
      <div class="row-layout group_3">
        <igx-icon class="icon">
          developer_board
        </igx-icon>
        <h6 class="h6">
          In Development
        </h6>
      </div>
      <igx-avatar initials="5" [roundShape]="true" class="avatar"></igx-avatar>
    </div>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Connect to DataSources
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 28, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar3.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Build App
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 28, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/BuildApp.png" class="image" />
      </igx-card-media>
      <igx-card-content class="body-content">
        <p class="text">
          Body 1
        </p>
      </igx-card-content>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar5.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Copy-Paste Update
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 24, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Grid Data-Binding 
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 26, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar10.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Main Dashboard Design
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 20, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
  <div class="column-layout group_5">
    <div class="row-layout group_6">
      <div class="row-layout group_3">
        <igx-icon class="icon">
          assignment_late
        </igx-icon>
        <h6 class="h6">
          Validation
        </h6>
      </div>
      <igx-avatar initials="4" [roundShape]="true" class="avatar"></igx-avatar>
    </div>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar7.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Update Samples
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 15, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/Samples.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar6.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Floating Toolbar
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 14, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar9.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Input Update
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 17, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/Inputs.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar3.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          App Library
        </h3>
        <h5 igxCardHeaderSubtitle>
          Deadline: Oct 16, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/AppLIbrary.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          COMPLETE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_7">
      <div class="row-layout group_3">
        <igx-icon class="icon">
          check_circle
        </igx-icon>
        <h6 class="h6">
          Done
        </h6>
      </div>
      <igx-avatar initials="5" [roundShape]="true" class="avatar"></igx-avatar>
    </div>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar8.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Onboarding Experience
        </h3>
        <h5 igxCardHeaderSubtitle>
          October 13, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          ARCHIVE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Design Specs
        </h3>
        <h5 igxCardHeaderSubtitle>
          October 9, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          ARCHIVE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar10.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          File Parser
        </h3>
        <h5 igxCardHeaderSubtitle>
          October 10, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/SketchParser.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          ARCHIVE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar2.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Final Mockups
        </h3>
        <h5 igxCardHeaderSubtitle>
          October 13, 2021
        </h5>
      </igx-card-header>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          ARCHIVE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <igx-card type="outlined" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar src="/assets/Avatar5.png" [roundShape]="true" class="avatar_1"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          GitHub Integration
        </h3>
        <h5 igxCardHeaderSubtitle>
          September 30, 2021
        </h5>
      </igx-card-header>
      <igx-card-media height="150px">
        <img src="/assets/Samples.png" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          ARCHIVE
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            attach_file
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            archive
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #newTaskDialog6>
  <igx-dialog-title>
    <h5>
      Add New Task
    </h5>
  </igx-dialog-title>
  <ng-container>
    <div class="column-layout group_8">
      <igx-input-group type="box" class="input">
        <input type="text" igxInput />
        <label igxLabel>Task Title</label>
      </igx-input-group>
      <div class="row-layout group_9">
        <igx-select type="box" placeholder="Pick a project" class="select">
          <igx-prefix>
            <igx-icon class="icon_1">
              assignment
            </igx-icon>
          </igx-prefix>
          <igx-select-item value="Option">
            Fintech Project
          </igx-select-item>
          <igx-select-item value="Option">
            DataViz Project
          </igx-select-item>
          <igx-select-item value="Option">
            Onboarding Project
          </igx-select-item>
          <igx-select-item value="Option">
            AppBuilder Project
          </igx-select-item>
          <label igxLabel>Project</label>
        </igx-select>
        <igx-select type="box" placeholder="Set Status" class="select_1">
          <igx-prefix>
            <igx-icon class="icon_1">
              schedule
            </igx-icon>
          </igx-prefix>
          <igx-select-item value="Option">
            To Do
          </igx-select-item>
          <igx-select-item value="Option">
            In Development
          </igx-select-item>
          <igx-select-item value="Option">
            Validation
          </igx-select-item>
          <igx-select-item value="Option">
            Done
          </igx-select-item>
          <label igxLabel>Status</label>
        </igx-select>
      </div>
    </div>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="raised" igxRipple [igxToggleAction]="newTaskDialog6" class="button_2">
      Create Task
    </button>
  </igx-dialog-actions>
</igx-dialog>
<button igxButton="fab" igxRipple [igxToggleAction]="newTaskDialog6" class="button_3">
  <igx-icon>
    add
  </igx-icon>
</button>
