<igx-navbar [igxToggleAction]="dropdown1" class="app-bar">
  <igx-navbar-action>
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        dashboard
      </igx-icon>
    </button>
  </igx-navbar-action>
  <button igxButton="icon" igxRipple class="button">
    <igx-icon>
      add_circle
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple class="button">
    <igx-icon>
      share
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple class="button">
    <igx-icon>
      notifications
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple class="button">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple class="button">
    <igx-icon>
      account_circle
    </igx-icon>
  </button>
  <igx-navbar-title>
    TECH BUDDY
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <div class="row-layout group_3">
        <igx-avatar initials="FP" [roundShape]="true" class="avatar"></igx-avatar>
        <h6 class="h6">
          E-MMS CONSOLE
        </h6>
        <button igxButton="icon" igxRipple [igxToggleAction]="dropdown2">
          <igx-icon>
            keyboard_arrow_down
          </igx-icon>
        </button>
        <igx-drop-down #dropdown2 class="dropdown">
          <igx-drop-down-item [isHeader]="true">
            Projects
          </igx-drop-down-item>
          <igx-drop-down-item>
            Fintech Project
          </igx-drop-down-item>
          <igx-drop-down-item>
            Project Name 1
          </igx-drop-down-item>
          <igx-drop-down-item>
            Project Name 2
          </igx-drop-down-item>
          <igx-drop-down-item>
            Project Name 3
          </igx-drop-down-item>
        </igx-drop-down>
      </div>
      <igx-buttongroup class="button-group">
        <button igxButton="flat" igxRipple routerLink="/master-view1/list-view1">
          <igx-icon>
            format_list_bulleted
          </igx-icon>
          <p>List</p>
        </button>
      </igx-buttongroup>
    </div>
    <button igxButton="raised" igxRipple class="button_1">
      SUBMIT
    </button>
    <h3 class="h3">
      WELCOME SQN LDR VIPUL,
    </h3>
    <h5 class="h5">
      AC NO
    </h5>
    <igx-input-group type="box" class="ig-typography__body-2 textarea">
      <label igxLabel>AC NO</label>
      <textarea igxInput></textarea>
    </igx-input-group>
  </div>
</div>
<igx-drop-down #dropdown1 class="dropdown">
  <igx-drop-down-item>
    Option
  </igx-drop-down-item>
</igx-drop-down>
